.vsconde
/convert_png_pdf/bin/*
/convert_png_pdf/include/*
/convert_png_pdf/lib/*
/convert_png_pdf/.Python
/webscraping/bin/*
/webscraping/include/*
/webscraping/lib/*
/webscraping/.Python
/webscraping/downloads/*